{
  "extends": [
    "next/core-web-vitals",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier"],
  "rules": {
    "@next/next/no-img-element": "off",
    "prettier/prettier": ["warn", {"trailingComma": "none", "semi": false, "jsxSingleQuote": true}],
    "no-throw-literal": "error",
    "react/jsx-no-target-blank": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": [
      "warn", {
        "additionalHooks": "(useRecoilCallback)"
      }
    ]
  }
}
