.strengthIcon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.strengthWrapper {
    display: flex;
    justify-content: space-between;
}
.strengthContainer {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 50px auto;
}
    .strengthContainer::after {
        content: "";
        height: 0.5px;
        width: 80vw;
        background-color: #838282;
        display: block;
        position: absolute;
        bottom: -750px;
    }
.strengthText {
    font-size: 18px;
    color: white;
    font-weight: 500;
}

.strengthDescription {
    color: #838282;
}

.footerContainer {
    display: flex;
    width: 80vw;
    margin: 0 auto;
    margin-top: 120px;
}

.footerInfo {
    flex-basis: 300px;
    flex: 1 0 auto;
}
.footerLinks {
    /* flex: 1 0 auto; */
    padding-left: 60px;
}

.contactText {
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
}
.contactIcon {
    color: white;
    font-size: 25px;
    margin-right: 10px;
}
    .contactIcon:hover {
        cursor: pointer;
        color: #c4c2c2;
    }

.contactContainer {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 40px auto;
}
.paymentList > svg {
    margin-right: 5px;
}